<h1>오늘 당신의 <strong class="lucky">행운</strong>의 <strong class=color>컬러</strong>는?</h1>
<br />

<h3 class="name">이름을 입력해주세요</h3>
<br />

<form action="/home/result">
    <input type="text" class="text" name="name" />
    <br />
    <input type="submit" class="submit" value="결과확인하기" />
</form>

